/* body{
  margin: 0;

}
.logo{
   display: flex;
   margin-left: 0px;
   padding-left: 0px; 
   left: 0; */
   /* position: absolute; */
/* }
.image{
    padding-left: 0px;
    margin-right: 2%;
    border-radius: 10px;
    padding-left: 0px;
} */